body {
    font-family: 'Avant Garde', sans-serif;
    color: white;
    text-align: center;
}

.main-page {
    background-image: url('../images/quran-bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.quran-page {
    background-image: url('../images/quran-bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.dua-page {
    background-image: url('../images/dua-bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.zikr-page {
    background-image: url('../images/zikr-bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    color: white;
    text-decoration: none;
    margin: 10px;
}
